.searchButton {
    cursor:pointer;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 15px ;
    box-shadow: 1px 1px 1px 
    rgba(161, 131, 131, 0.15);
    background:rgb(198, 143, 4);
    opacity: .9;
    margin-top: 138px;
    margin-left: 547px;
    text-align: center;
    width: 10%;
    padding: 15px;
    font-family: cooldex;
    
    
    }
    
    .button,button span{
        transition: 200ms;
    }
    .button .text {
        text-align: center;
        transform: translateX(35px);
        color: white;
        font-weight: bold;
    }
    
    .button .icon {
        text-align: center;
        border-left: 1px solid #c4c4c4;
        transform: translateX(110px);
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .button svg{
        width: 25px;
        fill:rgb(20, 87, 87)
    }
    .button:hover .text{
        color: transparent;
    }
    .button:hover .icon{
        width: 150px;
        border-left: none;
        transform: scale(0.8);
    }
    .searchButton:hover {
        color:#52595f;
        background-color: #9eaf2c;
    }
    
    .search {
        margin-top: -95px;
    }
    
    .Input {
        position: absolute;
    margin-left: 7px;
        margin-bottom: 5px;
        padding-top: 21px;
        border-radius:12px;
        text-align: center;
        width: 48%;
    background:rgb(255, 255, 255);
    opacity: 0.7;
    border: 12px solid rgb(175, 175, 78)k;
    font-weight: bold ;
    color: black;
    background: rgb(255, 255, 255);
    opacity: 0.7;
    border: 8px solid rgb(66, 48, 13);
    font-size: 13px;
    font-weight: bold;
    color: black;
    font-family: cooldex;
    font-weight: bold;
font-size: 15px;
    
    }
    
    
    .inputContainer{
    width: 200px;
    position: relative;
    }
    
    .icon{
        position: absolute;
        right: 10px;
        top: calc(50% + 5px);
    
        transform: translate(calc(-50% - 5px));
    }
    .input{
        width: 100%;
        height: 40px;
        padding: 10px;
        transition :.2s linear;
        border:2.5px solid black;
        font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
    
    .input:focus{
        outline: none;
        border: o.5px solid black;
        box-shadow: anim 1s linear infinite;
    }
    @keyframes anim{
        0%,
        100%{
            transform: translateX(calc(-50%- 5px))
            scale(1.1);
        }
        50%{
            transform: translateY(calc(-50% - 5px))
            scale(1.1);
        }
    }
    .errorMessage {
        display: inline-block;
        background-color: red;
        color: white;
        font-weight: bold;
        font-size: small;
        padding: 5px;
        border-radius: 5px;
        margin: 5px 0;
      }