.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.page {
  display: flex;
  align-items: center;
}

.pageBtn {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-color: rgb(231, 218, 218);
  box-shadow: 4px 5px 3px rgb(112, 44, 44);
  color: rgb(6, 6, 75);
  font-style: italic;
  font-weight: 20;
  text-shadow: 19px 20px 20px rgba(0, 0, 0, 0.43);
  border-radius: 45px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin: 0 10px;
}

.pageBtn:hover {
  background-color: #ce5249;
  color: rgb(231, 218, 218);
}

.currentPageBtn {
  background-color: #ce5249;
  color: rgb(231, 218, 218);
}

.pageBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}