
.card{
    display: flex;
    flex-direction: column;
    background-color:#dcaf85;
    border:8px solid rgb(218, 115, 11);
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
.card:hover {
    transform: scale(1.10);
  }

.image {
  background-color: rgb(0, 0, 0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 100px;
  margin: 0;
  max-width: 200px;
  min-width: 200px;
  max-height: 100px;
  min-height: 100px;
  padding: 0;
  position: relative;
  /* transition: all 0.3s ease-in-out; */
  width: 30%;}
  .texto{
    text-align: center; 
    font-weight: bold; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Agregar sombra al texto */
    color: rgb(37, 35, 35); 
  }