
.ttl{background-image: url('../../img/details.png');
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
opacity: 0.9;}



.container {
  border:4px solid rgb(227, 128, 28);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
background-color: #d2d2e5;
max-width: 575px;
width: 580px;
height:auto;
margin-top: 38px;
margin-left: 195px;
font-family: cooldex;
  }
  
  .container form {
    flex-direction: column;
    font-family: cooldex;
  }
  
  .container label {
    margin-top: 10px; align-items: center;
    font-family: cooldex;
  }
  
  
  .container button {
    font-family: cooldex;
    padding: 10px;
    background-color: #e1ab22;
    color: #242222;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .container button:active {
    background-color: #c9a309;
  }
  
  .container span {
    color: red;
    margin-top: 5px;
    font-family: cooldex;
  }




.texto{
  text-align: center;
  font-family: cooldex;
  font-weight: bold;
  background-color: #8a8983;

}

.buttoncontainer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: auto;
    font-family: cooldex;
    margin-left: 205px;
border: 3px solid rgb(51, 51, 134);
}


.img img {
    width: 570px;
    height: 60vh;
    margin: 0 5px;
    border: 2px solid #ccc;
  }
  .textto1{
    border: 6px solid rgb(154, 160, 30);
    text-align: center;
    border-radius: 12px;

    font-family: cooldex;
font-size: 30px;
font-weight: bold;
  }
.textto2{
    font-family: cooldex;
    
  }
  .name{
    text-align: center;
    text-decoration: #c9a309;
    font-size: 20px;    
    font-family: cooldex;
  }
  
  .textoA{
    text-align: center;
  font-family: cooldex;
  font-size: 29px; 
  font-weight: bold; 
  text-decoration: underline; 
  background-color: rgb(27, 181, 53);
  color: #d2d2e5;
  

}