.navbar {
  display: flex;
  justify-content: center; 
  padding: 10px;
background-color: transparent;
  text-decoration: none;
  

}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px; 
  background-color: #afa34c;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  font-family: cooldex;
  width: 780px;
  text-align: center;

}

.button:hover {
  background-color: #45a049;
}

