.cardc {
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    padding: 20px;
  }

  

 
  .cardc .card:nth-child(7),
  .cardc .card:nth-child(5) {
    border: 1px solid yellow;
  }


  .cardc .card:nth-child(9),
  .cardc .card:nth-child(10) {
    border: 1px solid yellow;
  }
