
  .home-title {
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color: #0ccac4;
    font-family: "Bigelow Rules";
  }
  
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  