
    

    .body{
     background-image:url('../../img/homedef.png');
      justify-content: space-between;
      flex-direction: column;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      width: 100%;
      height: 100%;
    
      background-position: center;
  top: 0;
  left: 0;
  background-size: cover;
  
  }
    
.header{
background-position: center; 
width: 100%;
height: 100%;
}
