
    

    .body{
      background: #064f64;
      background-size: cover;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      width: 100%;
      height: 100%;
    
  
  }
  

.header{
  background-color: rgb(75, 112, 144);
background-position: center; 
height: 70px;
}
