  /* Estilos para los filtros */
  .div {
    display: flex;
    align-items: center;
    margin: 5px;
  }
  .caja{
    padding: 10px;
/*     background-color: beige;
 */    width: 500px; 
    height: 130px;
  margin-left: 150px
    ;
  }
  .div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 90px;
  }

  .span {
    padding-left: 20px;
    color: rgb(209, 209, 190);
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .select {
    background-color: #d2b48c;
    border: none;
    padding: 5px;
    margin-left: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .button {
    background-color: #d2b48c;
    border: none;
    padding: 10px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

.button:active {
    background-color: #b8860b;
  }
