.img {
background-image: url("../../img/landing.png");

position: absolute;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  }
  
.box{
  position: absolute;
  top: 110px;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background-color:rgba(146, 205, 36, 0.7);
  text-transform: uppercase;
  font-weight: 900;
;
}

.box:before{
position: absolute;
content: '';
left: 0;
bottom: 0;
height: 4px;
width: 100%;
border-bottom: 4px solid transparent;
border-left: 4px solid transparent;
box-sizing: border-box;
transform: translateX(100%);
}
.box:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
  
}
.box:hover{

  box-shadow: 0 5px 15px rgba(143, 219, 22, 0.5);
}


.box:hover:before{
  border-color: #bdc51c;
  height: 100%;
  transform: translateX(0);
  transition: .1s transform linear, .1s
  height linear .1s;
}
.box:hover:after{
  border-color: #172c17;
  height: 100%;
  transform: translateX(0);
  transition: 1s transform linear, .1s
  height linear .1s;


}
.button{
  background-color: #f6e4aa;
  color: #383333;
  padding: 10px 20px;
  border:3px solid rgb(49, 185, 235);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;  
  margin-top: 348px;
  margin-left: 505px;
  width: 200px;
}

.button:activite.btn:active {
  background-color: #00bfff; /* Color celeste */
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75); /* Efecto de sombra */

}
.texto{
    position: absolute;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: rgba(175, 197, 197, 0.852); 
  padding: 30px;
  border-radius: 5px;
  z-index: 8; 
  border-radius: 15px;
  margin-top:218px;
  margin-left: 505px;
  font-family: cooldex;
}
.title{
  text-decoration: underline;
  text-align: center;
}